.welcome-card {
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  ion-card-header {
    max-width: 30vw;
    margin: auto;
  }
  ion-card-content {
    max-width: 30vw;
    margin: auto;
  }
}
